header {
    background-color: gold;
    height: 50px;
    padding-left: 15px;
    font-size: xx-small;
}

nav {
    background-color: gold;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    padding: 10px 10px 0px 10px;
}

.page {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
    padding: 20px 20px 120px 20px;
    /* border: 1px solid black; */
}

@media (width > 1024px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    nav {
        top: 0;
        right: 0;
        left: auto;
        width: 50%;
        justify-content: right;
        height: 50px;
    }
    .nav-button {
        flex-direction: row;
        align-items: center;
    }
    .page {
        margin-top: 50px;
        padding: 20px;
    }
}

.column {
    display: flex;
    flex-direction: column;
    /* border: 1px dashed red; */
    gap: 20px;
    min-width: 280x;
    max-width: 384px;
    width: 100%;
}

.card {
    max-width: 767px;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 20px;
}

.internal-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px
}

.internal-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.push-apart {
    justify-content: space-between;
}

.push-evenly {
    justify-content: space-around;
}

.push-right {
    justify-content: right;
}

.push-left {
    justify-content: left;
}

.push-up {
    align-self: flex-start;
}

.push-down {
    align-self: flex-end;
}

.subtle-topic {
    text-transform: uppercase;
    color: grey;
    font-weight: lighter;
}

.card-title {
    margin: 5px;
}

.round-img {
    height: 35px;
    width: 35px;
    border-radius: 35px;
    border: 1px solid grey;
}

.square-img {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border: 1px solid grey;
}

.header-img {
    width: 100%;
    border-radius: 20px;
    border: 1px solid grey;
}

.without-padding {
    padding: 0px;
    border: none;
}

.placeholder {
    background-color: lightgray;
    border-color: lightgray;
}

.button {
    padding: 5px 10px 5px 10px;
    margin: 15px 0px 15px 0px;
    border-radius: 100px;
    border: 1px outset grey;
    background-color: gold;
}

.button:hover {
    background-color: rgba(255, 217, 0, 0.8);
}